body { background: #fff2df; color: #454545; }

pre { font-family: Hack, "Ubuntu Mono", "DejaVu Sans Mono", Monaco, "Lucida Console", monospace; font-size: 15px; }

span[Bold] { font-weight: bold; }

span[Ital] { font-style: italic; }

a[RefType="uri"], a[RefType="uri"]:visited { color: #006500; text-decoration: none; }

a[RefType="uri"]:hover { text-decoration: 1px underline solid; }

.HideButton { display: inline-block; cursor: default; height: inherit; line-height: inherit; background: inherit; border: none; font-family: "Amazon Ember", "Clear Sans", Roboto, Lato, "Source Sans Pro", Verdana, sans-serif; font-size: 12px; font-style: normal; color: #e0e0e0; float: right; margin-left: 40px; margin-right: 10px; }

.HideButton:hover { text-decoration: underline solid; }

.HideButton[State="SHOWN"]::after { content: "[Hide\00a0\25b2]"; }

.HideButton[State="HIDDEN"]::after { content: "[Show\00a0\25bc]"; }

#NavBar { display: flex; flex-flow: row wrap; justify-content: flex-start; position: fixed; top: 0; width: 100%; min-height: 40px; line-height: 40px; margin-left: -10px; margin-right: 0px; padding-left: 15px; padding-right: 15px; font-family: "Amazon Ember", "Clear Sans", Roboto, Lato, "Source Sans Pro", Verdana, sans-serif; font-style: normal; font-weight: normal; font-size: 14px; color: #ffffff; background: #404040; text-align: left; border-bottom: 1px solid #000000; }

#NavBar > div { height: 40px; line-height: 40px; padding-left: 16px; padding-right: 5px; margin-left: 16px; border-left: 1px solid #909090; }

#NavBar > div:nth-child(1) { border-left: none; padding-left: 0px; margin-left: 0px; }

#NavBar span[Label] { color: #909090; font-style: italic; }

#NavBar span[Label]::after { content: "\00a0\00a0"; }

#NavBar a, #NavBar a:visited { color: #ffff00; text-decoration: none; }

#NavBar a:hover { text-decoration: underline; }

#NavBar .Button { display: inline-block; cursor: default; border: 1px solid #909090; height: 24px; line-height: 24px; padding-left: 6px; padding-right: 6px; color: white; background: #535353; text-align: center; }

#NavBar .Button:hover { background: green; }

#NavBar .Button[Disabled], #NavBar .Button[Disabled]:hover { color: #757575; background: #535353; }

#NavBar .Button[Active]::before { content: "["; }

#NavBar .Button[Active]::after { content: "]"; }

#NavBar select { background: inherit; color: #ffffff; border: 1px solid #909090; font-size: 85%; }

#NavBar select:hover { background: #707070; }

body[Type="man"] #Main { margin-left: 64px; margin-top: 80px; }

body[Type="man"] .PageTitle { display: inline-block; height: 50px; line-height: 50px; font-family: "Amazon Ember", "Clear Sans", Roboto, Lato, "Source Sans Pro", Verdana, sans-serif; font-style: italic; font-weight: normal; font-size: 25px; color: #ffffff; background: #667292; padding-left: 30px; padding-right: 30px; margin-left: 0px; margin-bottom: 60px; }

body[Type="man"] #Prologue { margin-bottom: 35px; }

body[Type="man"] div.Collapsible { overflow: hidden; margin-bottom: 35px; }

body[Type="man"] div.Collapsible[State="HIDDEN"] { margin-bottom: 0px; }

body[Type="man"] pre a[RefType="manpage"] { color: inherit; background: #ffe0b3; text-decoration: none; }

body[Type="man"] pre a[RefType="manpage"]:hover { color: #006500; text-decoration: 1px underline solid; }

body[Type="man"] .HeaderBar { display: inline-block; width: 680px; font-family: "Amazon Ember", "Clear Sans", Roboto, Lato, "Source Sans Pro", Verdana, sans-serif; font-size: 16px; font-style: italic; font-weight: normal; color: #ffffff; background: #667292; height: 30px; line-height: 30px; padding-left: 18px; text-align: left; margin-top: 0px; }

body[Type="man"] .HeaderBar[State="HIDDEN"] { border-bottom: 1px solid #fff2df; }

body[Type="info"] #Main { margin-left: 64px; margin-top: 80px; }

body[Type="info"] pre a[RefType="info"] { color: #031f84; text-decoration: none; }

body[Type="info"] pre a[RefType="info"]:hover { text-decoration: 1px underline solid; }

body[Type="info"] .InfoTitle { display: inline-block; max-width: 500px; font-family: "Amazon Ember", "Clear Sans", Roboto, Lato, "Source Sans Pro", Verdana, sans-serif; font-style: italic; font-weight: normal; font-size: 18px; color: #ffffff; background: #667292; padding-left: 30px; padding-right: 30px; padding-top: 5px; padding-bottom: 5px; margin-bottom: 40px; }

body[Type="info"] .InfoTitle[ULType="star"], body[Type="info"] .InfoTitle[ULType="equals"] { font-size: 25px; padding-top: 5px; padding-bottom: 5px; }

body[Type="info"] .InfoTitle[ULType="star"] > span[Number], body[Type="info"] .InfoTitle[ULType="equals"] > span[Number] { font-size: 125%; }

body[Type="info"] .InfoTitle[ULType="star"] > span[Number]::after, body[Type="info"] .InfoTitle[ULType="equals"] > span[Number]::after { content: "\2002"; }

body[Type="info"] .InfoTitle > span[Number] { color: #e0e0e0; font-family: "Amazon Ember", "Clear Sans", Roboto, Lato, "Source Sans Pro", Verdana, sans-serif; }

body[Type="info"] .InfoTitle > span[Number]::after { content: "\2002\2502\2002\2002"; color: #8b95ae; }

body[Type="info"] .InfoFootnotes { margin-top: 10px; }

body[Type="info"] .InfoFootnotes > .Separator { display: inline-block; width: 200px; border-top: 1px dotted #454545; margin-bottom: 15px; }

body[Type="info"] .InfoFootnotes > pre { font-size: 80%; }

body[Type="apropos"] { font-family: "Amazon Ember", "Clear Sans", Roboto, Lato, "Source Sans Pro", Verdana, sans-serif; font-size: 15px; }

body[Type="apropos"] #Main { width: 75%; margin-left: 80px; margin-top: 80px; margin-bottom: 120px; }

body[Type="apropos"] #ByNameButton, body[Type="apropos"] #BySectionButton { width: 5em; }

body[Type="apropos"] .AproposSectionBar { display: inline-block; width: calc(100% - 22px); font-family: "Amazon Ember", "Clear Sans", Roboto, Lato, "Source Sans Pro", Verdana, sans-serif; font-size: 16px; font-style: italic; font-weight: normal; color: #ffffff; background: #667292; height: 30px; line-height: 30px; padding-left: 18px; text-align: left; margin-top: 0px; margin-left: 2px; }

body[Type="apropos"] .AproposSectionBar[State="HIDDEN"] { border-bottom: 1px solid #fff2df; }

body[Type="apropos"] .AproposContainer { width: 100%; margin-top: 0px; margin-bottom: 45px; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; border-style: none; overflow: hidden; }

body[Type="apropos"] .AproposContainer[State="HIDDEN"] { margin-bottom: 0px; }

body[Type="apropos"] .AproposTable { font-family: "Amazon Ember", "Clear Sans", Roboto, Lato, "Source Sans Pro", Verdana, sans-serif; font-size: 15px; border-collapse: separate; border-bottom: 2px solid #a2836e; width: 100%; margin-left: 0px; margin-top: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; }

body[Type="apropos"] .AproposTableHeader { font-family: inherit; font-style: italic; font-weight: bold; font-size: 15px; color: #454545; background: #ffe0b3; text-align: left; margin-left: 0px; }

body[Type="apropos"] .AproposTableHeader > th { padding-top: 6px; padding-bottom: 6px; padding-left: 10px; border-top: 2px solid #a2836e; border-bottom: 2px solid #a2836e; }

body[Type="apropos"] .AproposTableHeader > th[Column="page"] { width: 2in; }

body[Type="apropos"] .AproposTableHeader > th[Column="description"] { width: 5in; }

body[Type="apropos"] .AproposTableRow { color: #454545; margin-left: 0px; }

body[Type="apropos"] .AproposTableRow:nth-child(even) { background: #ffe0b3; }

body[Type="apropos"] .AproposTableRow:nth-child(odd) { background: #fff2df; }

body[Type="apropos"] .AproposTableRow > td { font-size: 15px; padding-left: 8px; padding-right: 8px; padding-bottom: 4px; padding-top: 4px; }

body[Type="apropos"] .AproposTableRow > td a { color: #006500; text-decoration: none; }

body[Type="apropos"] .AproposTableRow > td a:hover { text-decoration: 1px underline solid; }

body[Type="splash"] { font-family: "Amazon Ember", "Clear Sans", Roboto, Lato, "Source Sans Pro", Verdana, sans-serif; font-size: 16px; margin-left: 75px; margin-top: 75px; }

body[Type="splash"] > .PageTitle { font-family: "Amazon Ember", "Clear Sans", Roboto, Lato, "Source Sans Pro", Verdana, sans-serif; font-size: 48px; font-style: italic; font-weight: bold; color: #667292; margin-bottom: 20px; }

body[Type="splash"] .Splash { width: 80%; max-width: 7.5in; padding-left: 24px; padding-right: 24px; padding-top: 18px; padding-bottom: 20px; margin-bottom: 50px; color: #454545; background: #ffe0b3; border-left: 5px solid #a2836e; }

body[Type="splash"] .Splash > p[Heading] { font-size: 24px; font-weight: bold; font-style: italic; margin-top: 0px; margin-bottom: 15px; }

body[Type="splash"] .Splash > .Divider { margin-top: 18px; margin-bottom: 18px; border-bottom: 1px dotted #a2836e; }

body[Type="splash"] .Splash input { height: 25px; border: 1px solid #454545; border-radius: 0px; padding-left: 8px; padding-right: 8px; }

body[Type="splash"] .Splash select { height: 30px; background: #404040; color: #ffffff; border: 1px solid #909090; }

body[Type="splash"] .Splash .Filename { color: #000000; font-style: italic; }

body[Type="splash"] .Splash .Code { font-family: "Amazon Ember", "Clear Sans", Roboto, Lato, "Source Sans Pro", Verdana, sans-serif; display: inline-block; color: #505050; background: #eeeeee; margin-top: 4px; margin-bottom: 4px; padding: 8px; border: 1px dashed #505050; }

body[Type="splash"] .Splash .Code > span[Var] { color: #00a0a0; font-style: italic; }

body[Type="splash"] .Splash a, body[Type="splash"] .Splash a:visited { color: #006500; text-decoration: none; }

body[Type="splash"] .Splash a:hover { text-decoration: 1px underline solid; }
